.drop-down{
    position: absolute;
    background-color: var(--primary);
    top: 6rem;
    right: 20px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.drop-down .link{
    border: none;
    background-color: transparent;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
.drop-down .disabled{
    color: rgb(165, 165, 165);
}
.drop-down .link img{
    height: 25px;
}
.drop-down .link p{
    margin: 0;
}
.drop-down .link .link-component{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}