.side-bar{
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.sidebar-hero{
    flex: 1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 3px;
}
.sidebar-hero .button{
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    border-radius: 50px;
    color: var(--border);
    background-color: transparent;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
}
.side-bar .side-bar-btn{
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    border-radius: 50px;
    margin-bottom: 6px;
}
.sidebar-hero label .button:hover{
    background-color: var(--primary);
}
.sidebar-hero label{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.sidebar-hero .active{
    border: 2px solid var(--primary);
}
@media only screen and (max-width: 700px){
.side-bar .side-bar-btn{
    display: none;
}
}