.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #879e82;
    padding: 10px;
    min-height: 200px;
    border-radius: 10px;
}
.card .menu{
    display: flex;
    gap:6px;
    justify-content: end;
}
.card button{
    background-color: transparent;
    border: none;
    padding: 10px;
    border-radius: 60px;
    cursor: pointer;
}
.card button:hover{
    background-color: var(--primary);
}
.card button img{
    width: 20px;
}

@media only screen and (max-width: 768px){
    .card h2{
        font-size: 18px;
    }
    .card p{
        font-size: 15px;
    }
}